.group {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}

.flex {
  flex: 1;
  min-width: 240px;
}

.label {
  font-family: var(--m);
  font-size: 10px;
  color: var(--t3);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 500;
}

.content {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}
